<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Lộ trình</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/date-picker.css}">
    <link rel="stylesheet" th:href="@{/css/user/tracking.css}">
    <link rel="shortcut icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>

<body>
<div id="header" class="header">
    <div class="header-wrapper">
        <div class="navbar">
            <div class="header-left h-100">
                <a th:href="@{/home}" class="d-block h-100">
                    <h4 class="m-0 f-w-bold">DTTRACKING</h4>
                </a>
            </div>
            <div class="header-right flex-1">
                <ul class="header-right-link">
                    <li class="mx-2 list-unstyled d-inline-block nav-item ">
                        <a th:href="@{/users/devices}" class="nav-link">
                            <i class="fa-solid fa-walkie-talkie mr-1"></i>
                            Quản lý thiết bị
                        </a>
                    </li>
                    <li class="mx-2 list-unstyled d-inline-block nav-item">
                        <a th:href="@{/users/tracking}" class="nav-link text-center d-block">
                            <i class="fa-solid fa-location-crosshairs mr-1"></i>
                            Theo dõi</a>
                    </li>
                    <li class="mx-2 list-unstyled d-inline-block nav-item ">
                        <div class="nav-link">
                            <i class="fa-regular fa-bell mr-1"></i>
                            Quản lý cảnh báo
                            <div class="submenu">
                                <a th:href="@{/users/notification-settings}" class="submenu-item ">Thiết lập cảnh báo</a>
                                <a th:href="@{/users/alert-methods}" class="submenu-item">Phương thức cảnh báo</a>
                            </div>
                        </div>
                    </li>
                    <li class="mx-2 list-unstyled d-inline-block nav-item active">
                        <a th:href="@{/users/route}" class="nav-link">
                            <i class="fa-solid fa-route mr-1"></i>
                            Lộ trình
                        </a>
                    </li>
                </ul>
                <div class="nav-toggle-btn action-btn" onclick="toggleDropdownMenu()" id="toggle-menu-btn">
                    <i class="fa-solid fa-bars" style="color: #232424;"></i>
                </div>
            </div>
            <a href="/users/profile">
                <div class="header-user">
                    <i class="fa-solid fa-user"></i>
                </div>
            </a>
        </div>
        <div class="drop-down-menu">
            <li class="mx-2 list-unstyled d-inline-block nav-item ">
                <a th:href="@{/users/devices}" class="nav-link">
                    <i class="fa-solid fa-walkie-talkie mr-1"></i>
                    Quản lý thiết bị
                </a>
            </li>
            <li class="mx-2 list-unstyled d-inline-block nav-item ">
                <a th:href="@{/users/tracking}" class="nav-link text-center d-block">
                    <i class="fa-solid fa-location-crosshairs mr-1"></i>
                    Theo dõi</a>
            </li>
            <li class="mx-2 list-unstyled d-inline-block nav-item ">
                <a th:href="@{/users/notification-settings}" class="nav-link ">
                    <i class="fa-solid fa-bell mr-1"></i>
                    Thiết lập cảnh báo
                </a>
            </li>
            <li class="mx-2 list-unstyled d-inline-block nav-item ">
                <a th:href="@{/users/alert-methods}" class="nav-link">
                    <i class="fa-solid fa-gear mr-1"></i>
                    Phương thức cảnh báo
                </a>
            </li>
            <li class="mx-2 list-unstyled d-inline-block nav-item active">
                <a th:href="@{/users/route}" class="nav-link">
                    <i class="fa-solid fa-route mr-1"></i>
                    Lộ trình
                </a>
            </li>
            <li class="mx-2 list-unstyled d-inline-block nav-item">
                <i class="fa-solid fa-user"></i>
                <a th:href="@{/users/profile}" class="nav-link">Tài khoản</a>
            </li>
        </div>
    </div>
</div>
<div class="body-wrapper">
    <h6 class="pt-5 text-uppercase f-w-bold text-center text-navy mb-4" style="width: max-content;">
        Lộ trình
        <i class="fa-solid fa-chevron-right mx-2" style="font-size: 12px;"></i>
        Lịch sử di chuyển
    </h6>
    <div class="row m-0">
        <div class=" col-lg-4 p-0 pr-3 mb-4">
            <div class="pb-2">
                <select name="" id="device-section" class="form form-control d-inline-block mb-3" onchange="changeDevice(value)">
                    <option value="-1" selected>Chọn thiết bị</option>
                </select>
                <input placeholder="Chọn thời gian" id="time-selection" class="form form-control d-inline-block  mb-4">
                <span class="d-block f-w-bold text-warning mb-4" id="device-watching"></span>
                <div class="border-left pl-2 mb-4">
                    <h6 class="text-navy mt-0 text-capitalize ">Thông tin vị trí lần cuối</h6>
                    <div class="">
                        <h6 class="d-inline-block w-25 m-0">Thời gian: </h6> <span id="last-update-time" class="font-weight-bolder text-dark"></span>
                        <br>
                        <h6 class="d-inline-block w-25 m-0">vị trí: </h6>
                        <img id="loading-locate" src="../images/dot-loading.svg" style="display: inline-block; height: 24px;">
                        <span id="last-update-place" class="font-weight-bolder text-dark"></span>
                    </div>
                </div>
                <div class="" id="coor-detail">
                    <h6 class="text-navy">Tọa độ chi tiết</h6>
                    <div id="coor-detail_table_wrapper" class="border mb-3">
                        <table class="table table-hover border table-striped text-center mb-0" id="tbl-coordinate" >
                            <thead >
                            <tr>
                                <th scope="col" class="col-2">Vĩ độ</th>
                                <th scope="col" class="col-2">Kinh độ</th>
                                <th scope="col" class="col-2">Thời gian</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        <h6 class="text-center" id="tbl-coordinate-msg" style="display: none">Không có dữ liệu</h6>
                    </div>
                </div>
                <div class="d-flex justify-content-between my-4 align-items-center">
                    <h6 class="d-inline-block text-navy m-0">Hiển thị theo tọa độ</h6>
                    <div class="toggle-container">
                        <input type="checkbox" class="toggle-input" id="toggle1" onchange="toggleTableCoordinate(this.checked)">
                        <label class="toggle-switch m-0" for="toggle1">
                            <div class="toggle-slider"></div>
                        </label>
                    </div>
                </div>
                <div class=" mb-3 d-flex justify-content-center">
                    <button class="btn btn-outline btn btn-outline-primary w-100" onclick="viewHistory()">Xem</button>
                </div>
            </div>
        </div>
        <div id="map" class="col-lg-8 mb-4 mt-0 p-0"></div>
    </div>
</div>
<!-- <div class="py-3" id="footer">
    <div class="footer-wrapper">
    </div>
</div> -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"
        integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
        integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/date-picker.js}"></script>
<script th:src="@{/js/user/route.js}"></script>
<script th:src="@{/js/user/tracking-map.js}"></script>
</body>

</html>