<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Thiết lập cảnh báo thiết bị</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/user/notification.css}">
  <link rel="stylesheet" th:href="@{/css/date-picker.css}">
  <link rel="shortcut icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>

<body>
<div id="header" class="header">
  <div class="header-wrapper">
    <div class="navbar">
      <div class="header-left h-100">
        <a th:href="@{/home}" class="d-block h-100">
          <h4 class="m-0 f-w-bold">DTTRACKING</h4>
        </a>
      </div>
      <div class="header-right flex-1">
        <ul class="header-right-link">
          <li class="mx-2 list-unstyled d-inline-block nav-item ">
            <a th:href="@{/users/devices}" class="nav-link">
              <i class="fa-solid fa-walkie-talkie mr-1"></i>
              Quản lý thiết bị
            </a>
          </li>
          <li class="mx-2 list-unstyled d-inline-block nav-item">
            <a th:href="@{/users/tracking}" class="nav-link text-center d-block">
              <i class="fa-solid fa-location-crosshairs mr-1"></i>
              Theo dõi</a>
          </li>
          <li class="mx-2 list-unstyled d-inline-block nav-item active">
            <div class="nav-link">
              <i class="fa-regular fa-bell mr-1"></i>
              Quản lý cảnh báo
              <div class="submenu">
                <a th:href="@{/users/notification-settings}" class="submenu-item active">Thiết lập cảnh báo</a>
                <a th:href="@{/users/alert-methods}" class="submenu-item">Phương thức cảnh báo</a>
              </div>
            </div>
          </li>
          <li class="mx-2 list-unstyled d-inline-block nav-item ">
            <a th:href="@{/users/route}" class="nav-link">
              <i class="fa-solid fa-route mr-1"></i>
              Lộ trình
            </a>
          </li>
        </ul>
        <div class="nav-toggle-btn action-btn" onclick="toggleDropdownMenu()" id="toggle-menu-btn">
          <i class="fa-solid fa-bars" style="color: #232424;"></i>
        </div>
      </div>
      <a href="/users/profile">
        <div class="header-user">
          <i class="fa-solid fa-user"></i>
        </div>
      </a>
    </div>
    <div class="drop-down-menu">
      <li class="mx-2 list-unstyled d-inline-block nav-item ">
        <a th:href="@{/users/devices}" class="nav-link">
          <i class="fa-solid fa-walkie-talkie mr-1"></i>
          Quản lý thiết bị
        </a>
      </li>
      <li class="mx-2 list-unstyled d-inline-block nav-item ">
        <a th:href="@{/users/tracking}" class="nav-link text-center d-block">
          <i class="fa-solid fa-location-crosshairs mr-1"></i>
          Theo dõi</a>
      </li>
      <li class="mx-2 list-unstyled d-inline-block nav-item active">
        <a th:href="@{/users/notification-settings}" class="nav-link ">
          <i class="fa-solid fa-bell mr-1"></i>
          Thiết lập cảnh báo
        </a>
      </li>
      <li class="mx-2 list-unstyled d-inline-block nav-item ">
        <a th:href="@{/users/alert-methods}" class="nav-link">
          <i class="fa-solid fa-gear mr-1"></i>
          Phương thức cảnh báo
        </a>
      </li>
      <li class="mx-2 list-unstyled d-inline-block nav-item ">
        <a th:href="@{/users/route}" class="nav-link">
          <i class="fa-solid fa-route mr-1"></i>
          Lộ trình
        </a>
      </li>
      <li class="mx-2 list-unstyled d-inline-block nav-item">
        <a th:href="@{/users/profile}" class="nav-link">
          <i class="fa-solid fa-user"></i>
          Tài khoản
        </a>
      </li>
    </div>
  </div>
</div>
<div class="body-wrapper">
  <h6 class="pt-5 text-uppercase f-w-bold text-center text-navy mb-4" style="width: max-content;">
    Quản lý cảnh báo
    <i class="fa-solid fa-chevron-right mx-2" style="font-size: 12px;"></i>
    Thiết lập cảnh báo
  </h6>
  <div class="wr-f-500 align-items-center" style="display:flex">
  </div>
  <span id="response-msg" class="text-warning d-inline-block"></span>
  <div class="btn btn-success mt-4" id="add-btn">Tạo cảnh báo</div>
  <div id="list-device" class="mt-4">
    <table class="table table-hover border table-responsive-xl text-center" id="tbl-devices">
      <thead>
      <tr>
        <th scope="col" class="col-2">STT</th>
        <th scope="col" class="col-2">Tên</th>
        <th scope="col" class="col-2">Mô tả</th>
        <th scope="col" class="col-2">Thiết bị áp dụng</th>
        <th scope="col" class="col-2">Hành động</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>PTIT</td>
        <td>Vị trí trường học</td>
        <td>Duc 1, Duc 2</td>
        <td class="d-flex justify-content-around">
          <div class="d-inline-block mx-2 action-btn text-primary edit-btn">
            <i class="fa-solid fa-pen text-primary"></i>
            Sửa
          </div>
          <div class="d-inline-block mx-2 action-btn text-danger delete-btn" data-device-id="0001">
            <i class="fa-solid fa-trash text-danger"></i>
            Xóa
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <div class="py-3" id="footer">
    <div class="footer-wrapper">
    </div>
</div> -->
<!-- Modal ADD-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Input fields for name and description -->
        <form id="addItemForm">
          <div class="form-group">
            <label for="itemName">Tên:</label>
            <input type="text" class="form-control" id="itemName" required>
          </div>
          <div class="form-group">
            <label for="itemDescription">Mô tả:</label>
            <textarea class="form-control" id="itemDescription" rows="1" required></textarea>
          </div>
          <div class="form-group">
            <label for="itemDescription">Thời gian bắt đầu:</label>
            <input type="time" name="" id="sttime">
            <label for="itemDescription">Thời gian kết thúc:</label>
            <input type="time" name="" id="endtime">
          </div>
          <div class="form-group">
            <label for="schedular">Lặp lại</label>
            <select class="form-control" id="schedular">
              <option value="onece">Một lần</option>
              <option value="everyday">Hàng ngày</option>
              <option value="2to6">Thứ 2 đến thứ 6</option>
              <option value="7to8">Cuối tuần</option>
            </select>
          </div>
          <div class="form-group">
            <label for="list-result">Thiết bị</label>
            <div class="">
              <ul id="list-result" class="d-inline-block mx-2 mt-2 ">
                <li deviceID="0001" class="text-decoration-none list-unstyled px-2 py-1 mb-1 resule-item" onclick="selectDevice(this)">Device 1</li>
                <li deviceID="0001" class="text-decoration-none list-unstyled px-2 py-1 mb-1 resule-item" onclick="selectDevice(this)">Device 1</li>
                <li deviceID="0001" class="text-decoration-none list-unstyled px-2 py-1 mb-1 resule-item" onclick="selectDevice(this)">Device 1</li>
                <li deviceID="0001" class="text-decoration-none list-unstyled px-2 py-1 mb-1 resule-item" onclick="selectDevice(this)">Device 1</li>
                <li deviceID="0001" class="text-decoration-none list-unstyled px-2 py-1 mb-1 resule-item" onclick="selectDevice(this)">Device 1</li>
                <li deviceID="0001" class="text-decoration-none list-unstyled px-2 py-1 mb-1 resule-item" onclick="selectDevice(this)">Device 1</li>
                <li deviceID="0001" class="text-decoration-none list-unstyled px-2 py-1 mb-1 resule-item" onclick="selectDevice(this)">Device 1</li>
                <li deviceID="0001" class="text-decoration-none list-unstyled px-2 py-1 mb-1 resule-item" onclick="selectDevice(this)">Device 1</li>
                <li deviceID="0001" class="text-decoration-none list-unstyled px-2 py-1 mb-1 resule-item" onclick="selectDevice(this)">Device 1</li>
                <li deviceID="0001" class="text-decoration-none list-unstyled px-2 py-1 mb-1 resule-item" onclick="selectDevice(this)">Device 1</li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <label for="list-result">Chọn vị trí</label>
            <div id="alert-map" style="height: 400px;"></div>
            <label for="searchInput">Tìm vị trí</label>
            <input class="form-control d-inline-block" type="text" id="searchInput" placeholder="Nhập vị trí" onchange=searchLocation(value)>
            <label for="limitInput">Phạm vi(mét)</label>
            <input class="form-control d-inline-block" type="number" id="limitInput" placeholder="Phạm phạm vi" oninput=inputLimit(value)>
          </div>
          <span id="msg-erorr" class="text-danger mt-2"></span>
        </form>
        <button id="submit-btn" class="btn btn-primary mt-2">Thêm</button>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"
        integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
        integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/date-picker.js}"></script>
<script th:src="@{/js/user/setup-alert.js}"></script>

</body>

</html>