<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>Theo dõi</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/user/tracking.css}">
  <link rel="shortcut icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>

<body>
<div id="header" class="header">
  <div class="header-wrapper">
    <div class="navbar">
      <div class="header-left h-100">
        <a th:href="@{/home}" class="d-block h-100">
          <h4 class="m-0 f-w-bold">DTTRACKING</h4>
        </a>
      </div>
      <div class="header-right flex-1">
        <ul class="header-right-link">
          <li class="mx-2 list-unstyled d-inline-block nav-item ">
            <a th:href="@{/users/devices}" class="nav-link">
              <i class="fa-solid fa-walkie-talkie mr-1"></i>
              Quản lý thiết bị
            </a>
          </li>
          <li class="mx-2 list-unstyled d-inline-block nav-item active">
            <a th:href="@{/users/tracking}" class="nav-link text-center d-block">
              <i class="fa-solid fa-location-crosshairs mr-1"></i>
              Theo dõi</a>
          </li>
          <li class="mx-2 list-unstyled d-inline-block nav-item ">
            <div class="nav-link">
              <i class="fa-regular fa-bell mr-1"></i>
              Quản lý cảnh báo
              <div class="submenu">
                <a th:href="@{/users/danger-zone}" class="submenu-item">Vùng nguy hiểm</a>
                <a th:href="@{/users/leave-position}" class="submenu-item">Di chuyển khỏi vị trí</a>
              </div>
            </div>
          </li>
          <li class="mx-2 list-unstyled d-inline-block nav-item">
            <a th:href="@{/users/route}" class="nav-link">
              <i class="fa-solid fa-route mr-1"></i>
              Lộ trình
            </a>
          </li>
        </ul>
        <div class="nav-toggle-btn action-btn" onclick="toggleDropdownMenu()" id="toggle-menu-btn">
          <i class="fa-solid fa-bars" style="color: #232424;"></i>
        </div>
      </div>
      <a>
        <div class="header-user">
          <i class="fa-solid fa-user"></i>
          <div class="py-2" id="user-profile">
            <span class="user-profile-item d-inline-block w-100 py-1 pl-3" onclick="dislayProfileModal()">Thông tin tài khoản</span>
            <span class="user-profile-item d-inline-block w-100 py-1 pl-3" onclick="changePassModal()">Đổi mật khẩu</span>
            <a th:href="@{/logout}" class="user-profile-item d-inline-block w-100 py-1 pl-3 text-white">Đăng xuất</a>
          </div>
        </div>
      </a>
    </div>
    <div class="drop-down-menu">
      <li class="mx-2 list-unstyled d-inline-block nav-item ">
        <a th:href="@{/users/devices}" class="nav-link">
          <i class="fa-solid fa-walkie-talkie mr-1"></i>
          Quản lý thiết bị
        </a>
      </li>
      <li class="mx-2 list-unstyled d-inline-block nav-item active">
        <a th:href="@{/users/tracking}" class="nav-link text-center d-block">
          <i class="fa-solid fa-location-crosshairs mr-1"></i>
          Theo dõi</a>
      </li>
      <li class="mx-2 list-unstyled d-inline-block nav-item">
        <a th:href="@{/users/danger-zone}" class="nav-link ">
          <i class="fa-solid fa-bell mr-1"></i>
          Vùng nguy hiểm
        </a>
      </li>
      <li class="mx-2 list-unstyled d-inline-block nav-item ">
        <a th:href="@{/users/leave-position}" class="nav-link">
          <i class="fa-solid fa-gear mr-1"></i>
          Di chuyển khỏi vị trí
        </a>
      </li>
      <li class="mx-2 list-unstyled d-inline-block nav-item ">
        <a th:href="@{/users/route}" class="nav-link">
          <i class="fa-solid fa-route mr-1"></i>
          Lộ trình
        </a>
      </li>
      <li class="mx-2 list-unstyled d-inline-block nav-item" onclick="dislayProfileModal()">
        <a  class="nav-link">
          <i class="fa-solid fa-user"></i>
          Tài khoản
        </a>
      </li>
      <li class="mx-2 list-unstyled d-inline-block nav-item" onclick="changePassModal()">
        <a  class="nav-link">
          <i class="fa-solid fa-user"></i>
          Đổi mật khẩu
        </a>
      </li>
      <li class="mx-2 list-unstyled d-inline-block nav-item">
        <a th:href="@{/logout}" class="nav-link">
          <i class="fa-solid fa-right-from-bracket"></i>
          Đăng xuất
        </a>
      </li>
    </div>
  </div>
</div>
<div class="body-wrapper ">
  <h6 class="pt-5 text-uppercase f-w-bold text-center text-navy mb-4" style="width: max-content;">
    Theo dõi
  </h6>
  <div class="row m-0 mb-4">
    <div class="col-lg-3 p-0 p-3 bg-light" style="border-radius: 8px">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <!-- <input placeholder="Chọn thiết bị" id="input-deviceID" type="text" class="form-control p-0 px-2 d-inline-block flex-1" onchange="inputChange(this)" disabled> -->
        <span for="device-section" class="text-navy f-w-bolder">Thiết bị:</span>
        <select name="" id="device-section" class="form form-control d-inline-block w-75" onchange="viewTracking(value)">
          <option value="-1" selected disabled>Chọn thiết bị</option>
<!--          <option deviceid="0001" device-name="Arduino" class="text-decoration-none list-unstyled px-2 py-1 mb-1 resule-item ">Arduino</option>-->
        </select>
      </div>
      <div class="d-flex  justify-content-between align-items-center pt-2">
        <span class="w-25 flex-1 text-navy m-0">Tùy chọn hiển thị</span>
        <select name="" id="marker-selection" class="form form-control d-inline-block w-75" onchange="changeMarkerType(value)">
          <option value="IMAGE" selected>Hình ảnh</option>
          <option value="DEFAULT">Mặc định</option>
        </select>
      </div>
      <div class="mb-4 mt-3" id="option-advance">
        <div class="d-flex  justify-content-between">
          <h6 class="text-navy f-w-bolder">Hiển thị vùng nguy hiểm:</h6>
          <div class="toggle-container">
            <input type="checkbox" class="toggle-input" id="toggle">
            <label class="toggle-switch" for="toggle">
              <div class="toggle-slider"></div>
            </label>
          </div>
        </div>
      </div>
      <span class="d-block f-w-bold" id="device-watching"></span>
    </div>
    <div id="map" class="col-lg-9 p-0">
      <div id="connect-status" class="h-100 w-100 text-center text-align-center align-items-center justify-content-center" style="display: none;">
        <h5 id="connect-status_msg" class="m-2 d-inline-block text-white">Thiết bị đang kết nối đến vệ tinh</h5>
        <img th:src="@{/images/loading.svg}" style="width: 40px;">
      </div>
    </div>
  </div>
  <div th:replace="fragments :: profile-modal"></div>
</div>
<!-- <div class="py-3" id="footer">
    <div class="footer-wrapper">
    </div>
</div> -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"
        integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
        integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/user/tracking.js}"></script>
<script th:src="@{/js/user/tracking-map.js}"></script>
</body>

</html>